@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --surface: 243, 17%, 22%;
  --white: 0, 0%, 100%;
  --primary: 197, 100%, 43%;
  --primary-foreground: 0, 0%, 100%;
  --success: 119, 100%, 30%;
  --success-foreground: 0, 0%, 100%;
  --heading: 0, 0%, 20%;
  --muted: 0, 0%, 60%;
}

body {
  color: hsl(var(--primary-foreground));
  background: hsl(var(--surface));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
